{%extends "MyAppCrediWireBundle:Default:index.html.twig"%}
{%block stylesheets %}

{%endblock%}
   {%block container %}
<div class="container">
 {% include "MyAppCrediWireBundle:Default:table.html.twig"%}
</div> 


    {%endblock%}